.btn{
    background-color: #ff8b1f;
}
.bg-orange-red {
    background-color: #ff8b1f;
}
.pb-5{
    background-color: #ff8b1f;
    color: white;
}

.bg-orange-red {
    background-color: #ff8b1f;
}
.m-1{
    background-color: #ff8b1f;
}
.btn-dark{
    bs-btn-bg: #ff8b1f;
    
}
.py-2{
  
}
.btn-outline-dark{
    bs-btn-bg: #ff8b1f;
}